<div class="card col-md-3">
    <div class="card-body">
        <form>
            <div class="form-group">
                <h2>Rektangel</h2>
                <label for="length">Længde</label>
                <input id="length" class="form-control" placeholder="Længde" [(ngModel)]="length" />
                <label for="height">Højde</label>
                <input id="height" class="form-control" placeholder="Højde" [(ngModel)]="height" />
                <input type="submit"/>
                <p>Omkrds: {{perimeter}}</p>
                <p>Areal: {{area}}</p>
            </div>
        </form>
    </div>
</div>